<div class="container">

    <div class="row">

        <div class="col-md-6">
            <h1>Agregar Alumno</h1>
            <div class="row col-md-8">
                <h3>Nombre:</h3>
                <input class="form-control" type="text" ng-model="newStudent.name">
            </div>
            <div class="row col-md-8">
                <h3>RUT:</h3>
                <input class="form-control" type="text" ng-model="newStudent.rut">
            </div>
            <div class="row col-md-8">
                <h3>Mail:</h3>
                <input class="form-control" type="text" ng-model="newStudent.mail">
            </div>
            <div class="row col-md-8">
                <h3>Carrera:</h3>
                <input class="form-control" type="text" ng-model="newStudent.carrera">
            </div>
            <div class="row col-md-8">
                <h3>Ingreso:</h3>
                <input class="form-control" type="number" ng-model="newStudent.ingreso">
            </div>
            <input class="btn btn-primary" ng-click="send()" type="button" value="Agregar">
        </div> 


        <div class="col-md-6">
            <h1>Lista de alumnos</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>RUT</th>
                        <th>Carrera</th>
                        <th>Ingreso</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="alumno in students">
                        <td>{{ alumno.name | capitalize }}</td>
                        <td>{{ alumno.rut }}</td>
                        <td>{{ alumno.carrera }}</td>
                        <td>{{ alumno.ingreso }}</td>
                    </tr>
                </tbody>
            
            </table>

        </div>
    </div>
    
</div>